@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .bg-animation-color {
    background: linear-gradient(-25deg, #0284c7, #0ea5e9, #38bdf8, #7dd3fc, #bae6fd, #7dd3fc,#38bdf8, #0ea5e9);
    background-size: 300% 300%;
    animation: colors 15s ease  infinite;
}

@keyframes colors {
    0% {
        background-position: 0% 25%;
    }
    25% {
        background-position: 25% 50% ;
    }
    50% {
        background-position: 50% 75%;
    }
    75% {
        background-position: 75% 100%;
    }
    100% {
        background-position: 100% 75%;
    }
}


/* Animation geral */
.img-page {  
  transform: rotate(-25deg) ;
  transition: 1s;
}
.img-page:hover { 
   
   transform: rotate(0deg);
}